<%= render "layouts/admin_header"%>
<div class="container">
	<h1>Tag一覧</h1>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<% Tag.all.each do |tag| %>
				<div class="tagindex">#<%= link_to tag.tag, tag_post_index_admins_post_path(tag.id)  %> / <%= tag.posts.count %>件</div>
			<% end %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>